:root {
  --background-color: #262626bb;
  --background-color-card: #171414ac;
  --font-color: #fcafaf;
  --border-color: #fcafaf;

  --card-size-pc: calc((100% - 90px) / 4);
  --card-size-tab: calc((100% - 60px) / 3);
  --card-size-mobile: calc((100% - 30px) / 2);

  --font-size-pc: 18px;
  --font-size-tab: 16px;
  --font-size-mobile: 12px;
}
