.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.photo-card {
  flex-basis: calc((100% - 80px) / 4);
  border: 2px solid #fcafaf;
  border-radius: 15px;
  overflow: hidden;
  transition: 500ms transform;
  & > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  &:hover,
  &:focus {
    transform: scale(1.1);
    transition: 500ms transform;
  }
}

.info {
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  &-item {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }
}
