* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  @include phone {
    max-width: 700px;
    padding: 5px;
  }
  @include tablet {
    max-width: 1100px;
    padding: 15px;
  }
  @include desktop {
    max-width: 1200px;
    padding: 15px;
  }
  margin: 0 auto;
}

.icon {
  fill: currentColor;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}
