.searcher {
  justify-content: center;
  @include phone {
    padding: 10px;
  }
  @include tablet {
    padding: 15px;
  }
  @include desktop {
    padding: 15px;
  }
}

.search-form {
  & > input {
    padding: 5px;
    border-radius: 15px;

    @include phone {
      font-size: 18px;
    }
    @include tablet {
      font-size: 23px;
    }
    @include desktop {
      font-size: 26px;
    }
  }
  & > button {
    padding: 5px;
    border-radius: 15px;
    @include phone {
      font-size: 18px;
    }
    @include tablet {
      font-size: 23px;
    }
    @include desktop {
      font-size: 26px;
    }
  }
}
